*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
:root{
    --x: 200px;
    --y: 200px;
}

body{
    background-image: url(https://i.pinimg.com/1200x/94/a6/a0/94a6a02148dfebbf83e3c1e25b49bdd4.jpg);
    background-size: cover;
}

main{
    height: 100%;
    width: 100%;
    background: radial-gradient(200px at var(--x) var(--y), rgba(255, 0, 0, 0),rgba(0, 0, 0, 0.863));

}