*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    color: #fff;
}

main{
    height: 100%;
    width: 100%;
     background: linear-gradient(to right bottom, rgb(37, 35, 35), gray, black);
     display: flex;
     justify-content: center;
     align-items: center;

}

section{
    border-radius: 10px;
    height: 100%;
    width: 500px;
}

.all-reels{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}
.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    scroll-snap-align: start; 
}
.reel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.reel .bottom{
    height: 20%;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to bottom, transparent, black);
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}

.bottom .info{
    display: flex;
    gap: 15px;
    align-items: center;
}

.bottom .info img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom .info h4{
    font-size: 20px;
    font-weight: 500;
}
.bottom .caption{
    font-size: 20px;
    margin-top: 15px;
}
.bottom .info button{
padding: 7px 15px;
font-size: 15px;
border-radius: 10px;
border: none;
}

.bottom .info button:active{
    scale: .98;
}

.right{
    position: absolute;
    bottom: 14%;
    right: 5%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.right .icon{
    font-size: 30px;
    cursor: pointer;
}

.b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ri-heart-3-fill{
    color: red;
}