*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}


.clicker{
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    animation: clickerAni 5s forwards;
}

@keyframes clickerAni{

from{
   scale: 0;
   opacity: 1;
   font-size: 1rem;
}

to{
 scale: 2;
 opacity: 0;
 font-size: 25px;
}
}