* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  padding: 30px 10px;
  border-radius: 20px;
  background-color: #4d4d4d22;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

img {
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

h2 {
  white-space: nowrap;
}

h3 {
  color: crimson;
}

p {
  text-align: center;
  color: rgb(58, 57, 57);
}
